<project name="Manual Docear" version="docear 1.0" ID="17302C215BB6O2LSEK4F9N3JORO3FTBYPD0K">
<folder type="library" name="Library">
<link type="literature_annotations" name="Literature &amp; Annotations" path="project://17302C215BB6O2LSEK4F9N3JORO3FTBYPD0K/_data/17302C215BB6O2LSEK4F9N3JORO3FTBYPD0K/default_files/literature_and_annotations.mm"/>
<link type="file" name="Temp" path="project://17302C215BB6O2LSEK4F9N3JORO3FTBYPD0K/_data/17302C215BB6O2LSEK4F9N3JORO3FTBYPD0K/default_files/temp.mm" system="true"/>
<link type="file" name="Trash" path="project://17302C215BB6O2LSEK4F9N3JORO3FTBYPD0K/_data/17302C215BB6O2LSEK4F9N3JORO3FTBYPD0K/default_files/trash.mm" system="true"/>
</folder>
<folder type="physical" name="My drafts" path="project://17302C215BB6O2LSEK4F9N3JORO3FTBYPD0K/_data/17302C215BB6O2LSEK4F9N3JORO3FTBYPD0K/My%20Drafts/"/>
<folder type="literature_repository" name="Literature repository" system="true">
<folder type="repository_path" name="default" path="file:/home/vonuser/Docear/projects/Manual%20Docear/literature_repository"/>
</folder>
<link type="references" name="References" path="project://17302C215BB6O2LSEK4F9N3JORO3FTBYPD0K/_data/17302C215BB6O2LSEK4F9N3JORO3FTBYPD0K/default_files/Manual%20Docear.bib" system="true"/>
</project>
